html{
    min-height: 100%;
    
}
@media only screen and (max-width:1800px) {
    html{font-size: 10px;}
    .cont2{
        margin: 10rem 15% 0rem 0%;
    }
}
@media only screen and (max-width:1400px) {
    html{font-size: 8px;}
    .cont2{
        margin: 10rem 15% 0rem 0%;
    }
}
@media only screen and (max-width:1127px) {
    html{font-size: 6px;}
    .cont2{
        margin: 10rem 15% 0rem 0%;
    }
}
@media only screen and (max-width:850px) {
    html{font-size: 6px;}
    #working-area{
        margin-left: -50%;
    }
    .cont2{
        margin: 10rem 15% 0rem 0%;
    }
    
    
}
@media only screen and (max-width:725px) {
    html{font-size: 2.5px;}
    .cont2{
        margin: 10rem 15% 0rem 0%;
    }
}
@media only screen and (max-width:390px) {
    html{font-size:1.5px;}
    .cont2{
        margin: 10rem 15% 0rem 0%;
    }
}
body{
    background-image: url("Bg1.jpg"); 
   }
   .timer{
       background-color: rgb(100, 82, 82);
       display: inline-block;
       float: right;
       border: 0.2rem solid purple;
       padding: 1rem;
       font-size: 2rem;
       color: white;
   }
   #HS{
       text-align: center;
   }
   .fun{
       display: inline-block;
       float: left;
   }
   .scorings{
       display: inline-block;
       /* float: left; */
       padding: 1.4rem;
       margin: 1.0rem;
       color:rgb(0, 38, 255);
       border: 0.4rem solid rgb(100, 84, 245);
       border-radius: 0.5rem;
       font-size: 2.5rem;
       font-family: cursive;
   }
   #score{
   
   text-align: center;
   color:rgb(0, 38, 255);
   }
   #rest{
       display: inline-block;
       /* float: left; */
       background-image: linear-gradient(rgb(167, 152, 255),rgb(117, 69, 206));
       font-family: cursive;
       border-radius: 0.5rem;
       font-size: 2rem;
       margin-left: 0.8rem;
       background-color: rgb(140, 176, 177);
   }
   #rest:hover{
       cursor: pointer;
       background-color: rgb(204, 255, 217);
       transition-duration: 800ms;
       /* transform:rotateZ(360deg); */
       color: rgb(0, 0, 0);
       background:rgb(209, 139, 250);
   }
   body{  
       background-color: rgb(0, 0, 0);
   }
   #working-area{
       margin-top: 2rem;
       display: inline-block;
       
   }
   
   table{
       border: 0.3rem solid rgb(255, 255, 255);
       border-radius: 2rem;
       padding: 2rem;
       background-image: radial-gradient(rgb(206, 179, 179),transparent);
       border-spacing: 0.4rem;
   }
   #question{
       margin-left: 31%;
       margin-top: 1.2rem;
       padding: 0rem;
       background-color:transparent;
       border: none;
       background-image: none;
   }
   table td{
       border: 0.2rem solid rgb(0, 0, 0);
       padding: 3.5rem;
       background-color: rgb(70, 69, 69);
       border-radius: 1rem;
   }
   #circle{
       border-radius: 100%;
   }
   
   .btn{
       background-image:linear-gradient(rgb(148, 211, 148),rgb(105, 223, 115));
       border: 0.2rem solid rgb(255, 253, 253);
       border-radius: 18%;
       margin-right: 1rem;
       font-size: 6rem;
       padding: 1rem;
       margin: 0.5rem;
   }
   .btn:hover{
       background-image:linear-gradient(rgba(83, 194, 118, 0.815),rgb(0, 255, 115));
       cursor: pointer;
       transform:scale(1.03);
   }
   #circle:hover{
       background-image:linear-gradient(rgb(148, 211, 148),rgb(105, 223, 115));
    transform: scale(1);
   cursor: default;
   }
   .controller{
       display: inline-block;
       /* float: right; */
      text-align: center;
      font-size: 2rem;
   }
   
   .cont1{
       display: inline-block;
       margin: 2rem 0rem 0rem 25%;
   }
   .cont2{
        /* display: inline-block; */
        float: right;
        text-align: center;
        /* margin: 0rem 10% 0rem 15%; */
   }